{%extends 'base.html' %}
{% block content%}

    <div class="bg-dark text-white shadow-lg">
        <h1>Info about our company</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quos enim aliquid laborum vero ab nemo, voluptatibus porro ullam eligendi quod non nam eveniet obcaecati vitae aut tempore itaque. Fugiat veritatis magni, numquam eos exercitationem iure est aperiam sequi laborum. Corporis laborum molestiae error quis fugiat similique magni, sint harum quod quos odio sed incidunt, voluptatibus delectus repellendus cupiditate doloremque ratione facilis officia animi! Placeat, reprehenderit! Animi eveniet quae minima fugit harum, corrupti voluptatum expedita dignissimos quas omnis ex! Sunt eos fugit tenetur aperiam enim adipisci rerum neque minus, vel laboriosam voluptatibus ad ea quaerat quia laudantium eveniet eius reiciendis!</p>
    </div>



{% endblock %}